<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div>
        <h1>DeepContextual-Translate</h1>
        <form action="/translate" method="POST">
            <label for="textInput">Enter Text to translate:</label><br>
            <textarea id="textInput" name="textInput" required></textarea><br>
            <button type="submit">Translate</button>
        </form>
    </div>
    {% if request.args.translated_text %}
    <div class="output">
        <h2>Translation:</h2>
        <p>{{ request.args.translated_text }}</p>
    </div>
    {% endif %}
</body>
</html>